body {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 70%;
}

A {
    color: #003399;
}

A:active {
    color: #003399;
}

A:visited {
    color: #888888;
}

P, OL, UL, LI, DL, DT, DD, BLOCKQUOTE {
    color: #000000;
}

TD,TH,SPAN {
    color: #000000;
}


table thead TH {
	background-color:gray;
	color:#FFFFFF;
	font-size: 80%;
}


BLOCKQUOTE {
    margin-right: 0px;
}


H1, H2, H3, H4, H5, H6    {
    color: #000000;
    font-weight:500;
    margin-top:10px;
    padding-top:15px;
}

TABLE  {
    border-collapse: collapse;
    border-spacing:0;
    border: 1px thin black;
    empty-cells: hide;
}

TD  {
    padding: 4pt;
    font-size: 70%;
}

H1 { font-size: 150%; }
H2 { font-size: 140%; }
H3 { font-size: 110%; font-weight: bold; }
H4 { font-size: 110%; font-weight: bold;}
H5 { font-size: 100%; font-style: italic; }
H6 { font-size: 100%; font-style: italic; }

TT {
font-size: 100%;
    font-family: "Courier New", Courier, monospace;
    color: #000000;
}

PRE {
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #F4F4F4;
}

UL, OL, LI {
    list-style: disc;
}

HR  {
    width: 100%;
    height: 1px;
    background-color: #CCCCCC;
    border-width: 0px;
    padding: 0px;
    color: #CCCCCC;
}

.variablelist { 
    padding-top: 10; 
    padding-bottom:10; 
    margin:0;
}

.itemizedlist, UL { 
    padding-top: 0; 
    padding-bottom:0; 
    margin:0; 
}

.term { 
    font-weight:bold;
}

.screen {
    font-size: 100%;
    font-family: "Courier New", Courier, monospace;
    color: #000000;
}




    
